ITJCodeChallenge/force-app/main/default/flows/ITJ_ZippopotamFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apiCall</name>
        <label>apiCall</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>ITJ_ZipCodeAPICall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assign_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opps</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>countryCode</name>
            <value>
                <elementReference>countryAbbvMapped</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>Enter_Zipcode</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ZipcodeScreen.country</assignToReference>
            <name>country</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ZipcodeScreen.countryAbbv</assignToReference>
            <name>countryAbbv</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ZipcodeScreen.jsonResponse</assignToReference>
            <name>jsonResponse</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ZipcodeScreen.postalCode</assignToReference>
            <name>postalCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_Collection</name>
        <label>assign Collection</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ZipcodeScreenColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ZipcodeScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record</name>
        <label>Assign Record</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NonUSZipDataObj.ITJ_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipcodeScreen.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NonUSZipDataObj.ITJ_Country_Abbreviation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipcodeScreen.countryAbbv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NonUSZipDataObj.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipcodeScreen.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NonUSZipDataObj.ITJ_Non_US_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZipcodeScreen.jsonResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Non_US_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isUSCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countryAbbvMapped</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ZipcodeScreen.jsonResponse</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>{}</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Results</targetReference>
            </connector>
            <label>isUSCode</label>
        </rules>
        <rules>
            <name>is_response_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZipcodeScreen.jsonResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>{}</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X404</targetReference>
            </connector>
            <label>is response empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_not_Found</name>
        <label>Country not Found</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>apiCall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notfoundcheck_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countryAbbvMapped</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_Not_Found_Screen</targetReference>
            </connector>
            <label>check country</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ITJ_ZippopotamFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ITJ_ZippopotamFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Non_US_Data</name>
        <label>create Non US Data</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>getAllRecords</targetReference>
        </connector>
        <inputReference>NonUSZipDataObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contries</name>
        <label>Get Contries</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_not_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Country</elementReference>
            </value>
        </filters>
        <object>Country_Code__mdt</object>
        <outputAssignments>
            <assignToReference>countryAbbvMapped</assignToReference>
            <field>Country_Abbreviation__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAllRecords</name>
        <label>getAllRecords</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ITJ_Zipcode__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>All_Records</name>
        <label>All Records</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>allRecordsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ITJ_Zipcode__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getAllRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a123&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ITJ_Zipcode Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Postal_Code__c&quot;,&quot;guid&quot;:&quot;column-9620&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Postal Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Postal Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ITJ_Country__c&quot;,&quot;guid&quot;:&quot;column-206b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Country&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Country&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ITJ_Non_US_Response__c&quot;,&quot;guid&quot;:&quot;column-523d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;JSON&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Non-US Response&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Country_Not_Found_Screen</name>
        <label>Country Not Found</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>notFoundTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 87, 87); font-size: 18px;&quot;&gt;Country Abbreviation &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;not found!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opps</name>
        <label>Opps!!</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Something went wrong, please check with your Admin&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>zipcodeCountry</name>
            <fieldText>&lt;p&gt;{!ZipcodeScreen.country}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>zipCodeCountryAbbv</name>
            <fieldText>&lt;p&gt;{!ZipcodeScreen.countryAbbv}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>zipcodePostalCode</name>
            <fieldText>&lt;p&gt;{!ZipcodeScreen.postalCode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search</name>
        <label>Search</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contries</targetReference>
        </connector>
        <fields>
            <name>Enter_Country</name>
            <dataType>String</dataType>
            <fieldText>Enter Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Zipcode</name>
            <dataType>String</dataType>
            <fieldText>Enter Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X404</name>
        <label>404</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notFoundText</name>
            <fieldText>&lt;p&gt;Zip Code not found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countryAbbvMapped</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dataTableDetails</name>
        <apexClass>ITJ_ZipcodeScreen</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NonUSZipDataObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ITJ_Zipcode__c</objectType>
    </variables>
    <variables>
        <name>ZipcodeScreen</name>
        <apexClass>ITJ_ZipcodeScreen</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZipcodeScreenColl</name>
        <apexClass>ITJ_ZipcodeScreen</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
